<!-- extra css on links page -->
<% if (path.startsWith('links')) { %>
<%- css('css/links') %>
<% } %>
<!-- end extra css -->

<!-- page -->
<div class="col-mb-12 col-8" id="main" role="main">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="post-title" itemprop="name headline">
            <a itemprop="url" href="<%- url_for(page.path) %>"><%- page.title
                %></a>
        </h1>
        <div class="post-content" itemprop="articleBody">
            <%- page.content %>
        </div>
    </article>
</div>
<!-- end page -->

<!-- extra js on links page -->
<% if (path.startsWith('links')) { %>
<%- js('js/links') %>
<script>
CORS_DRIVER = `<%- theme.cors_proxy %>`;
putLinks(`<%- JSON.stringify(theme.links) %>`);
</script>
<% } %>
<!-- end extra js -->